/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }

body, html {
    height: 100%;
  }

  .parallax {
 /* Full height */
 height: 100%; 

 /* Create the parallax scrolling effect */
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
  }

#slide-1 {
     /* The image used */
  background-image: url("./img/1.png");
}

#slide-2 {
    /* The image used */
 background-image: url("./img/2-RA.png");
 height: 100%;    

}
#slide-3 {
    height: 100%; 
    background-image: url("./img/3.png");
}
#slide-4 {
    background-image: url("./img/4.png");
    height: 100%; 
}

.about{
  display: inline-block;
  width: 30%;
  padding-top: 200px;
  padding-left: 140px;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    color: #22783e;
    font-size: 3em;
    border-bottom: #FF9F97 15px double;
}

h3 {
    font-family: 'Bebas Neue', cursive;
    color: #22783e;
    font-size: 1.5em;
    
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #22783e;
    font-weight: bold;
    line-height: 1.3;
   
}

.contact {

  position: relative;
  width: 100%;
  display: flex;
  justify-content: center; 
  padding-top: 350px;
  padding-bottom: 0;

}

#slide-3 {
    display: grid;
    grid-template: "A A A"
                   "B C D";

}

#project-title {
grid-area: A;
text-align: center;
padding-top: 100px;
}
.project {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    text-align: center;
    padding-bottom: 50px;
}

#project-1 {
grid-area: B;
margin-top: auto;

}

#project-2 {
    grid-area: C;
    margin-top: auto;

}

#project-3 {
    grid-area: D;
    margin-top: auto;
}

#img-project {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-radius: 5px 25px;
}
a:hover {
 opacity: 0.5;  
}




